{% extends 'base.html' %}


{% block content %}
<body style="background-color: #f5f0b8;">
    <nav class="navbar navbar-dark" style = "background-color: #c25b08;">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style = "color: white;">Razzle Fresh Stock</span>
        </div>
    </nav>

    <h5>Username</h5>
    <p>{{name}}</p>

    <h5>Welcome! </h5>
    <p>{{greet}}</p>
    
    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem; background-color: #f2e0b6; margin: 20px">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{product.amount}}</h6>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text">{{product.date_added}}</p>
                        <a href="{% url 'main:edit_product' product.pk %}" class = "btn btn-primary" style="background-color: #c25b08; border: 0">Edit</a>
                        <a href="{% url 'main:delete_product' product.pk %}" class = "btn btn-primary" style="background-color: #c25b08; border: 0">Delete</a>
                    </div>
                </div>
            </div>   
            {% endfor %} 
        </div>
    </div>
    
<br />

<h5 style="color:#8a4008">Sesi terakhir login: {{ last_login }}</h5>
    
<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>
</body>
{% endblock content %}
